<h1><%= @match.title %></h1>
<%= @match.sport.name if @match.sport.present? %>

<%= link_to 'Edit', edit_match_path(@match), class: "btn btn-link" %> |
<%= link_to 'Back', matches_path, class: "btn btn-link" %>
